:root {
	--body-width: 800px;
	--me-image-size: 200px;
	--skill-div-size: 100px;
	--padding: 8px;

	--small-font-size: 16px;
	--medium-font-size: 24px;
	--large-font-size: 36px;

	--primary-color: #00407f;
}

* {
	margin: 0px;
	padding: 0px;
	font-family: 'Georgia', 'Times New Roman', Times, serif;
	font-size: var(--small-font-size);
	text-decoration: none;
	font-weight: unset;
}

html {
	height: 100%;
}

body {
	height: 100%;
}

header {
	position: sticky;
	top: 0px;

	background-color: var(--primary-color);
}

.header-nav {
	display: block;
	width: var(--body-width);
	margin: auto;
}

.header-link {
	display: inline-block;
	padding: var(--padding);

	font-size: var(--medium-font-size);
	/* text-decoration: none; */
	color: white;
}

.header-link:hover {
	text-decoration: underline;
}

main {
	width: var(--body-width);
	/* padding: var(--padding); */
	margin: auto;
}

#me-img {
	display: block;
	width: var(--me-image-size);
	height: var(--me-image-size);
	margin: auto;
	margin-top: var(--padding);
	margin-bottom: var(--padding);

	border-radius: 50%;
}

h1 {
	padding: var(--padding);
	font-size: var(--medium-font-size);
}

.skill-div {
	display: inline-block;
	width: var(--skill-div-size);
	padding: var(--padding);
}

.skill-div>img {
	width: var(--skill-div-size);
	height: var(--skill-div-size);
}

.skill-name-div{
	text-align: center;
}