:root {
	--small-font-size: 16px;
	--medium-font-size: 24px;
	--large-font-size: 36px;
	--padding: 8px;
	--main-panel-width: 800px;
}

* {
	margin: 0px;
	padding: 0px;
	font-family: "Georgia";
	font-size: var(--small-font-size);
}

html {
	height: 100%;
}

body {
	height: 100%;
}

#root {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-start;
	height: 100%;
}

header {
	flex-grow: 0;
	flex-shrink: 0;
	padding: var(--padding);
	font-size: var(--large-font-size);
}

/* .main-panel { */
main {
	/* flex-grow: 0;
	flex-shrink: 1;
	flex-basis: auto; */

	/* display: flex; */
	/* flex-direction: column; */
	/* flex-wrap: nowrap; */
	/* justify-content: flex-start; */
	/* width: var(--main-panel-width); */
	flex-grow: 1;
	flex-shrink: 1;
	width: 800px;
	/* height: 100%; */
	overflow-y: scroll;
	margin: auto;
}


.content {
	height: 100%;
	padding: var(--padding);
	overflow-y: scroll;
}