@font-face {
	font-family: 'Open Sans';
	src: url('./fonts/open-sans/OpenSans-VariableFont_wdth\,wght.ttf');
}

:root {
	--body-width: 800px;
	--me-image-size: 200px;
	--skill-div-size: 100px;

	--padding: 8px;
	--divider-height: 4px;

	--small-font-size: 16px;
	--medium-font-size: 24px;
	--large-font-size: 36px;

	--primary-color: #00407f;
	--light-gray: #dfdfdf;
}

* {
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans', sans-serif;
	font-size: var(--small-font-size);
	text-decoration: none;
	font-weight: unset;
}

html {
	height: 100%;
}

body {
	height: 100%;
}

header {
	position: sticky;
	top: 0px;

	background-color: var(--primary-color);
}

.header-nav {
	display: block;
	width: var(--body-width);
	margin: auto;
}

.header-link {
	display: inline-block;
	padding: var(--padding);

	font-size: var(--medium-font-size);
	color: white;
}

.header-link:hover {
	text-decoration: underline;
}

main {
	width: var(--body-width);
	margin: auto;
}

#intro-div {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
}

#me-img {
	width: var(--me-image-size);
	height: var(--me-image-size);
	margin: var(--padding);
	flex-grow: 0;
	flex-shrink: 0;

	border-radius: 50%;
}


#hi-div {
	padding: var(--padding);
	font-size: var(--large-font-size);
}

h1 {
	padding: var(--padding);
	font-size: var(--medium-font-size);
}

h2 {
	padding: var(--padding);
	font-size: var(--small-font-size);
}

/* .skills-div{
	border-bottom: 4px dashed var(--light-gray);
} */

hr {
	margin: var(--padding);
	height: var(--divider-height);
	border-width: 0;
	color: var(--light-gray);
	background-color: var(--light-gray);
}

.skill-div {
	display: inline-block;
	width: var(--skill-div-size);
	margin: var(--padding);
	padding: var(--padding);
	border-radius: var(--padding);

	background: var(--light-gray);
}

.skill-div>img {
	width: var(--skill-div-size);
	height: var(--skill-div-size);
}

.skill-name-div {
	text-align: center;
	font-weight: bold;
}